/* *{
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.navbar{
    background-color: #0CB236;
    color: #FFF;
}

ul{
    display: flex;
    align-items: end;
    padding: 10px;
    
}

article{
margin-left: 20px;
} */